{% extends 'base.html.twig' %}
  
 {%block content %}
 

{% for f in candi %}
 <div class="content">
    <div class="container-fluid">
 <h2><center>Candidature   {{f.id }} </h2>
                        <table border="1" >
                          
                             
                              
                      
                                 
                                  <h3>Titre:  {{f.Titre.titre}}  
                            <br> <h3> Fonction:   {{f.fonction }} </h3> 
                                 
                                <br><h3>Type_Contrat:    {{f.typecontrat}}  
                                <br><h3>Mode salaire:    {{f.modesalaire}}  
                                 <br> <h3>Periode:  {{f.periode}}  
                                 <br> <h3>Salaire(An/Mois):   {{f.annuelmois }}  
                                 
                                  
                               <br>  <h3>Horaires:    {{f.horaires}}  

                                
                                         </tr>
                                            <tr>
                                            <center><td> <center><button><a href="{{ path('envoie',{'id':f.id}) }}"><h3>Contacter Recruteur par mail</a> </button>
                                               <td> <center><button><a href="{{ path('sms',{'id':f.id}) }}"><h3>Contacter Recruteur par sms</a> </button>
                       
                                        <td>  <center>     <button><a href="{{ path('rech',{'id':f.id}) }}"><h3>Voir résultat</a> </button>
                </tr>
                            {% endfor %}

                        </table>
                   
                        </div>
                        </div>

 




     
 



                </div>
            </div>
        </div>
    </section>
{% endblock %}
