{% extends 'base.html.twig' %}
{% block content %}
     <section id="intro" class="section-intro">
        <div class="search-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Find the job that fits your life</h1><br><h2>More than <strong>12,000</strong> jobs are waiting to Kickstart your career!</h2>







{% for f in can %}
 <div class="content">
    <div class="container-fluid">
        <h2> Offre {{f.id }}  </h2>





                           <table border="0">
                            <tr><td width="220px" >   <img src="{{ asset('assets/uploads/images/'~ f.logo) }}" alt="" style=" width:50px;height: 50px">  </td>



                           <td ><br><h4>Titre de poste : {{f.titre }}


                              <br>  Nom Entreprise  :    {{f.nomentreprise }}
                                <br> Adresse  : {{f.lieu }}
                                 <br>


                                  <br>Description  :  {{f.description }}

                                  <br>  Taille Entreprise : {{f.tailleentreprise }}
                                  <br> Poste de Recruteur : {{f.poste }}
                                    <br>
                                   <br> Media : {{f.media }}
<br>
                                  Nombre de poste :  {{f.nombrerecrutement }}
                                    <td> <button><a href="{{ path('listeEmp',{'id':f.id}) }}">Voir Plus </a></button>
                                    </tr>
                                </table>













                </div>
            </div>
                {% endfor %}
        </div>
                </div>
            </div>
        </div>
     </section>

    <section class="find-job section">
        <div class="container">
            <h2>Search A event !!</h2>

            <div class="sidebar-search">

                <div class="input-group custom-search-form">

                    <input type="text" id="search" class="form-control" placeholder="Search here">
                </div>
                <!-- /input-group -->
            </div>
            <ul class="nav" id="side-menu">
                <li>
                    <a href="#"> Entities<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" id="entitiesNav">
                    </ul>
                </li>
            </ul><br><br><br><br>

            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

            <script type="text/javascript">
                jQuery(document).ready(function() {
                    var searchRequest = null;
                    $("#search").keyup(function() {
                        var minlength = 1;
                        var that = this;
                        var value = $(this).val();
                        var entitySelector = $("#entitiesNav").html('');
                        if (value.length >= minlength ) {
                            if (searchRequest != null)
                                searchRequest.abort();
                            searchRequest = $.ajax({
                                type: "GET",
                                url: "{{ path('ajax_search') }}",
                                data: {
                                    'q' : value
                                },
                                dataType: "text",
                                success: function(msg){
                                    //we need to check if the value is the same
                                    if (value===$(that).val()) {
                                        var result = JSON.parse(msg);
                                        $.each(result, function(key, arr) {
                                            $.each(arr, function(id, value) {
                                                if (key === 'evenements') {
                                                    if (id !== 'error') {
                                                        entitySelector.append('<li><b>'+value[1]+'</b><a href="/evenement/par/'+id+'"><img src="/images/products/'+value[0]+'" style="width: 60px; height: 60px"/></a></li>');
                                                    } else {
                                                        entitySelector.append('<li class="errorLi">'+value+'</li>');
                                                    }
                                                }
                                            });
                                        });
                                    }
                                }
                            });
                        }
                    });
                });
            </script>
            <h2 class="section-title">Hot events</h2>
            <div class="row">
                <div class="col-md-12">
                    {% for evenement in evenements %}
                        {% if evenement.photo %}
                        <div class="job-list">
                            <div class="thumb">
                                <img src="/images/products/{{ evenement.photo }}" alt="" >
                            </div>
                            <div class="job-list-content">
                                <h4><a href="job-details.html">{{ evenement.titre }}</a></h4>
                                <p>{{ evenement.description }}</p>
                                <p>date start : {{ evenement.dateStart ? evenement.dateStart|date('Y-m-d H:i:s') : '' }}  , date end : {{ evenement.dateEnd ? evenement.dateEnd|date('Y-m-d H:i:s') : '' }}</p>
                                <div class="job-tag">
                                    <div class="pull-left">
                                        <div class="meta-tag">
                                            <span><a href="{{ path('participer',{'id': evenement.id }) }}"><i class="ti-brush"></i>{{ evenement.nombrePar }}</a></span>

                                        </div>
                                    </div>


                                    {% if app.user %}
                                    <div class="pull-right">





                                        {% if app.user.roles != ['ROLE_EMPLOYEUR']  %}
                                            <a href="{{ path('participer',{'id': evenement.id }) }}" class="btn btn-common btn-rm">Participer</a>


                                        {% endif %}



                                    </div>
                        {% endif %}
                                    {% if not app.user %}
                                        <li class="right"><a href="{{ path('app_login') }}"><i class="ti-lock"></i>  participer</a></li>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>


            </div>
        </div>
    </section>
{% endblock %}