{% extends 'base2.html.twig' %}
{% block content %}
    <section id="intro" class="section-intro">
        <div class="search-container">
            <div class="container" >
                <div class="row" >
                    <div class="col-md-12">
                        <h1>Find the job that fits your life</h1><br><h2>More than <strong>12,000</strong> jobs are waiting to Kickstart your career!</h2>
                        <div class="content">
                            <form method="" action="">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="job title / keywords / company name">
                                            <i class="ti-time"></i>



                                                         </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" type="email" placeholder="city / province / zip code">
                                            <i class="ti-location-pin"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="search-category-container">
                                            <label class="styled-select">
                                                <select class="dropdown-product selectpicker">
                                                    <option>All Categories</option>
                                                    <option>Finance</option>
                                                    <option>IT & Engineering</option>
                                                    <option>Education/Training</option>
                                                    <option>Art/Design</option>
                                                    <option>Sale/Markting</option>
                                                    <option>Healthcare</option>
                                                    <option>Science</option>
                                                    <option>Food Services</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-6">
                                        <button type="button" class="btn btn-search-icon"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="popular-jobs">
                            <b>Popular Keywords: </b>
                            <a href="#">Web Design</a>
                            <a href="#">Manager</a>
                            <a href="#">Programming</a>

                        </div>
                        <br>

{{ form_start(form1) }}

                        <div class="form-group">
                            <h3>Modifier Status</h3>
                 <form action="{{ path('mailing') }}">
                       <table border="0"   height="10%" >  
               

                     

       
 </div>
                          
                       
                
                           <tr><td><label>Num employer:</label>
                                   {{ form_start(form1.numero	)}}

                                   {{ form_widget(form1.numero	,{'attr':{'class':'form-control'}}) }}</td></tr>

       
    
         <tr><td>  <label>Reference offre:*</label>
                                   {{ form_start(form1.ref) }}    {{ form_widget(form1.ref,{'attr':{'class':'form-control'}}) }}</td></tr>

 
<tr><td>  <label>Mail :*</label>
                                   {{ form_start(form1.email) }}    {{ form_widget(form1.email,{'attr':{'class':'form-control'}}) }}</td></tr>


     
    
       <tr><td>  <label>Sujet :</label>
                   {{ form_start(form1.sujet)}}          {{ form_widget(form1.sujet,{'attr':{'class':'form-control'}}) }}
                            
  
                              
             <tr><td>  <label>Etat :</label>
                   {{ form_start(form1.etat)}}          {{ form_widget(form1.etat,{'attr':{'class':'form-control'}}) }}
                            
              
                          
                           <tr><td>  <button type="Submit" class="btn btn-primary"   >Valider</button>


                               {{ form_end(form1) }}

                           </tr> </table>

                        </div>
                        
            </div>
        </div>
        </div>
    </section>



{% endblock %}

