{% extends 'base.html.twig' %}
{% block content %}
    <div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Id de la participation</th>
            <th>nom de participant</th>
            <th>l'evenement</th>
            <th>Date de participation</th>


        </tr>
        </thead>
        <tbody>
        {% for participation in participation %}
            <tr>
                <td>{{ participation.id }}</td>
                <td>{{ participation.idEmployer}}</td>
                <td>{{ participation.idEvent }}</td>
                <td>{{ participation.date }}</td>
                <td>
                    {{ include('home/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}