




    <br>
    <br>
    <br>
   <center> <h1>Liste Des Employers </h1>


    <table class="table" border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>E-Mail</th>
                <th>Numéro</th>
                <th>Localisation</th>
                <th>Categorie</th>


            </tr>
        </thead>
        <tbody>
        {% for employer in employers %}
            <tr>
                <td>{{ employer.id }}</td>
                <td>{{ employer.name }}</td>
                <td>{{ employer.mail }}</td>
                <td>{{ employer.num }}</td>
                <td>{{ employer.localisation }}</td>
                <td>{{ employer.categorie }}</td>



            </tr>

        {% endfor %}
        </tbody>
    </table>
   </center>

