{% extends 'base.html.twig' %}

{% block title %}TypeEvent index{% endblock %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <h1>La liste des TypeEvent </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_event in type_events %}
            <tr>
                <td>{{ type_event.id }}</td>
                <td>{{ type_event.type }}</td>
                <td>{{ type_event.description }}</td>
                <td>
                   <button> <a href="{{ path('type_event_show', {'id': type_event.id}) }}">show</a></button>
                    <button> <a href="{{ path('type_event_edit', {'id': type_event.id}) }}">edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_event_new') }}">Create new</a>
{% endblock %}
