<link rel="stylesheet" href="{{ asset("/assets/plugins/fontawesome-free/css/all.min.css")}}">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Tempusdominus Bbootstrap 4 -->
<link rel="stylesheet" href="{{ asset("/assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css")}}">
<!-- iCheck -->
<link rel="stylesheet" href="{{ asset("/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css")}}">
<!-- JQVMap -->
<link rel="stylesheet" href="{{ asset("/assets/plugins/jqvmap/jqvmap.min.css")}}">
<!-- Theme style -->
<link rel="stylesheet" href="{{ asset("/assets/dist/css/adminlte.min.css")}}">
<!-- overlayScrollbars -->
<link rel="stylesheet" href="{{ asset("/assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css")}}">
<!-- Daterange picker -->
<link rel="stylesheet" href="{{ asset("/assets/plugins/daterangepicker/daterangepicker.css")}}">
<!-- summernote -->
<link rel="stylesheet" href=""{{ asset("/assets/plugins/summernote/summernote-bs4.css")}}">
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

<div class="callout callout-info"  >

<div  align="left" >
    <img src="{{ app.request.getSchemeAndHttpHost() ~ asset('assets/img/findjob.PNG') }}" id="img1" alt="">

</div>
    <div align="right" >
        <h2><i class="fas fa-globe">find job </i> </h2>
        {{ "Extracted at " }}{{ "now"|date("m/d/Y") }} {{ "now"|date("h:i A") }}
    </div>
</div>
<br>
<br>

<title>Evenement</title>
<center><h1>Evenements</h1></center>

<br>
<br>

<div class="card-body  p-0" style="height: 300px;">
    {%  for cat in typeevent %}
        <strong>{{ cat.type  }}   :</strong>
        <br>
        <br>
        <table class="table table-head-fixed text-nowrap">
            <thead>

            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Date_start</th>
                <th>Date_end</th>
                <th>NombrePar</th>
                <th>Description</th>

            </tr>
            </thead>
            <tbody >
            {% for e in events %}
            {% if e.type==cat %}
            <tr>
                <td>{{ e.id }}</td>
                <td>{{ e.titre }}</td>
                <td>{{ e.dateStart ? e.dateStart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ e.dateEnd ? e.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ e.nombrePar }}</td>
                <td>{{ e.description }}</td>

                    </tr>

                    </tbody>

                {% endif %}
            {% endfor %}
        </table>
        <br>
        <br>
    {% endfor %}

</div>