{% extends 'base2.html.twig' %}

{% block title %}Employeur index{% endblock %}

{% block content %}

    <style>
    .img{
    width: 60px;
    height: 60px;
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    }
    </style>
    <br>
    <br>
    <br>
    <center><h1>Employeur index</h1></center>
    <br>
    <br>
    <form method="post" action="{{ path('employeur_recherche') }}">
    <label></label>
    <label>

            <input PLACEHOLDER="SEARCH !" type="text" name="data" class="form-control">


    </label>


            <input type="submit" class="btn btn-success" value="FIND">

    </form>
    <br>
    <br>
    <form method="post" action="{{ path('tri') }}">
        <label>
            <select class="form-control" name="type">
                <option>Croissant</option>
                <option>Décroissant</option>
            </select>
        </label>
        <input type="submit" class="btn btn-success" value="Trier!">
    </form>
    <br>
    <br>
    <table class="table" border="4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Password</th>
                <th>Numero</th>
                <th>E-Mail</th>
                <th>Localisation</th>
                <th>Logo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employeur in employeurs %}
            <tr>
                <td>{{ employeur.id }}</td>
                <td>{{ employeur.nom }}</td>
                <td>{{ employeur.pass }}</td>
                <td>{{ employeur.numero }}</td>
                <td>{{ employeur.adresse }}</td>
                <td>{{ employeur.loca }}</td>
       <td><img src="{{ asset("assets/img/") }}{{employeur.logo}}" alt="" class="img"></td>
                <td>
                    <a href="{{ path('employeur_show', {'id': employeur.id}) }}">show</a>
                    <a href="{{ path('employeur_edit', {'id': employeur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('employeur_new') }}">Create new</a>
    &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <a class="right" href="{{ path('employeur_pdf') }}">Exporter PDF</a>

{% endblock %}
